* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background: linear-gradient(135deg, #a0aeec, #c2e9fb);
  width: 300px;
  height: 400px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

body {
  width: 100vx;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cff8ff;
}

.screen {
  margin: 20px;
}
.screen input {
  width: 258px;
  height: 40px;
}

button {
  width: 50px;
  height: 35px;
  border-radius: 10px;
  border-width: 0.1px;
  box-shadow: 2px 2px 2px slategrey;
  font-size: 15px;
  font-weight: bolder;
}

.gp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button:active {
  transform: scale(0.95); /* thu nhỏ lại 1 chút */
}
